asttokens==3.0.0
beautifulsoup4==4.13.4
blinker==1.9.0
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8         # 8.2.1 Python >=3.10 istiyordu, bu sürüm uyumlu
numba==0.61.2        # Uyumlu Python >=3.9,<3.11
numpy==1.24.4        # 2.x serisi sadece Python 3.11+ için, bu uyumlu
opencv-python==4.5.5.64
packaging==25.0
pandas==1.5.3        # 2.x için Python 3.11 gerekiyor, bu sürüm 3.9 ile uyumlu
parso==0.8.4
peewee==3.18.1
platformdirs==4.3.8
prompt_toolkit==3.0.51
protobuf==4.25.3     # 6.x sadece Python 3.11+, bu sürüm uyumlu
psutil==5.9.8        # 7.0.0 Python 3.11+ istiyor
pure_eval==0.2.3
pycparser==2.22
Pygments==2.19.1
python-dateutil==2.9.0.post0
pytz==2023.3
pywin32==310; platform_system == "Windows"   # Sadece Windows için yüklenecek
